<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>COVER Cloud</title>
        <link rel="icon" href="/favicon_32.png" />
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
